@import "tailwindcss";

:root {
  --background: #fbfbfd;
  /* slightly softer white */
  --foreground: #09090b;
  --card: #ffffff;
  --card-foreground: #09090b;
  --popover: #ffffff;
  --popover-foreground: #09090b;
  --primary: #4f46e5;
  --primary-foreground: #f8fafc;
  --secondary: #f4f4f5;
  /* zinc-100 */
  --secondary-foreground: #0f172a;
  --muted: #f4f4f5;
  --muted-foreground: #71717a;
  /* zinc-500 */
  --accent: #f4f4f5;
  --accent-foreground: #0f172a;
  --border: #e2e2e7;
  --input: #e2e2e7;
  --ring: #4f46e5;
  --shadow-soft: 0 1px 3px rgba(0, 0, 0, 0.02), 0 4px 12px rgba(0, 0, 0, 0.03);
  --shadow-premium: 0 1px 2px rgba(0, 0, 0, 0.01), 0 8px 16px -4px rgba(0, 0, 0, 0.04), 0 16px 32px -8px rgba(0, 0, 0, 0.08);
  --radius-premium: 24px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.dark {
  --background: #09090b;
  --foreground: #fafafa;
  --card: #09090b;
  --card-foreground: #fafafa;
  --popover: #09090b;
  --popover-foreground: #fafafa;
  --primary: #6366f1;
  --primary-foreground: #f8fafc;
  --secondary: #18181b;
  /* zinc-900 */
  --secondary-foreground: #fafafa;
  --muted: #18181b;
  --muted-foreground: #71717a;
  /* zinc-500 */
  --accent: #18181b;
  --accent-foreground: #fafafa;
  --border: #1d1d20;
  --input: #1d1d20;
  --ring: #6366f1;
  --shadow-soft: 0 4px 12px rgba(0, 0, 0, 0.3);
  --shadow-premium: 0 1px 2px rgba(0, 0, 0, 0.2), 0 10px 20px rgba(0, 0, 0, 0.4), 0 0 0 1px rgba(255, 255, 255, 0.02), 0 20px 40px -10px rgba(0, 0, 0, 0.5);
  --radius-premium: 24px;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #27272a;
  /* zinc-800 */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3f3f46;
  /* zinc-700 */
}